@page "/"

@inject ILogger<Home> Logger
<PageTitle>Home</PageTitle>

<h1>Hello, world!</h1>

Welcome to your new app.


<h2>Counter</h2>

<p role="status">Current count: @currentCount</p>

<button class="btn btn-primary" @onclick="IncrementCount">Click me</button>

@code {
    protected override void OnInitialized()
    {
        Logger.LogInformation("home initialized");
    }
    protected override void OnAfterRender(bool firstRender)
    {
        Logger.LogInformation("home rendered");
    }


    private int currentCount = 0;

    private void IncrementCount()
    {
        currentCount++;
    }
}